<h2 class="login-title">Entrar no painel</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email, "E-mail", class: "ax-label" %>
    <%= ax_input_group(prefix: tag.i(class: "bi bi-envelope")) do %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "ax-control", placeholder: "nome@salute.com.br" %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :password, "Senha", class: "ax-label" %>
    <%= ax_input_group(prefix: tag.i(class: "bi bi-key")) do %>
      <%= f.password_field :password, autocomplete: "current-password", class: "ax-control", placeholder: "Digite sua senha" %>
    <% end %>
  </div>

  <% if devise_mapping.rememberable? %>
    <%= ax_check_field(label: "Manter conectado", form: f, method: :remember_me) %>
  <% end %>

  <div class="form-group mb-0">
    <%= f.button type: :submit, class: "btn-login" do %>
      <span>Entrar</span>
      <i class="bi bi-arrow-right"></i>
    <% end %>
  </div>

  <% if devise_mapping.recoverable? %>
    <%= link_to "Esqueci minha senha", new_password_path(resource_name), class: "forgot-link" %>
  <% end %>
<% end %>
