<div class="ax-field <%= class_name %> <%= 'is-invalid' if error.present? %>">
  <% if label.present? %>
    <label class="ax-field__label"><%= label %></label>
  <% end %>

  <%= content %>

  <% if error.present? %>
    <p class="ax-field__error" role="alert"><%= error %></p>
  <% elsif hint.present? %>
    <p class="ax-field__hint"><%= hint %></p>
  <% end %>
</div>
