<%
  notice_classes = ["ax-inline-notice", "ax-inline-notice--#{tone}", ("ax-inline-notice--compact" if compact), class_name].compact_blank.join(" ")
%>

<div class="<%= notice_classes %>" role="<%= notice_role %>" aria-live="<%= aria_live %>" aria-atomic="true">
  <% if icon.present? %>
    <i class="bi bi-<%= icon %>" aria-hidden="true"></i>
  <% end %>
  <div class="ax-inline-notice__content"><%= body %></div>
</div>
