<%
  group_classes = ["ax-radio-group", class_name].compact.join(" ")
  item_classes = ["ax-radio-group__item", item_class].compact.join(" ")
%>

<fieldset class="<%= group_classes %>">
  <legend class="ax-radio-group__label"><%= label %></legend>
  <div class="ax-radio-group__options">
    <% choices.each do |choice_label, choice_value| %>
      <label class="<%= item_classes %>">
        <%= form.radio_button method, choice_value, class: "ax-radio-group__input", disabled: disabled, data: input_data %>
        <span class="ax-radio-group__mark" aria-hidden="true"></span>
        <span class="ax-radio-group__text"><%= choice_label %></span>
      </label>
    <% end %>
  </div>
</fieldset>
