<% content_for :admin_contextbar_breadcrumb do %>
  <%= link_to "Admin", admin_root_path %>
  <i class="bi bi-chevron-right"></i>
  <%= link_to "Distribuição", admin_distribution_rules_path %>
  <i class="bi bi-chevron-right"></i>
  <strong><%= @rule.name %></strong>
<% end %>

<% content_for :admin_contextbar_actions do %>
  <%= link_to admin_distribution_rule_path(@rule), class: "ax-contextbar__button" do %>
    <i class="bi bi-eye"></i><span>Ver</span>
  <% end %>
  <%= link_to admin_distribution_rules_path, class: "ax-contextbar__button" do %>
    <i class="bi bi-arrow-left"></i><span>Voltar</span>
  <% end %>
<% end %>

<header class="ax-dashboard-command ax-property-form-command">
  <div class="ax-dashboard-command__main">
    <span class="ax-dashboard-command__eyebrow">Distribuição de leads</span>
    <h1>Editar regra: <%= @rule.name %></h1>
    <p>Ajuste fontes, equipe, modo de distribuição e regras de horário.</p>
  </div>
</header>

<%= render 'form', distribution_rule: @rule %>
