<% modal_id = local_assigns.fetch(:modal_id, "attributeManagerModal") %>
<div class="ax-attribute-modal"
     id="<%= modal_id %>"
     tabindex="-1"
     role="presentation"
     hidden
     aria-hidden="true"
     aria-labelledby="<%= "#{modal_id}Title" %>"
     data-controller="ax-modal"
     data-ax-modal-target="overlay"
     data-action="click->ax-modal#backdropClose">
  <div class="ax-attribute-modal__panel" role="dialog" aria-modal="true" aria-labelledby="<%= "#{modal_id}Title" %>">
    <header class="ax-attribute-modal__header">
      <h6 class="ax-attribute-modal__title" id="<%= "#{modal_id}Title" %>">Gerenciar Atributos</h6>
      <button type="button" class="ax-icon-btn" data-action="ax-modal#close" aria-label="Fechar">
        <i class="bi bi-x-lg"></i>
      </button>
    </header>
    <div class="ax-attribute-modal__body">
      <div class="ax-attribute-modal__creator">
        <form data-attribute-manager-form>
          <div class="ax-attribute-modal__input-group">
            <input type="text" id="<%= "#{modal_id}Input" %>" class="ax-attribute-modal__input" placeholder="Adicionar novo..." required autofocus>
            <button class="ax-attribute-modal__submit" type="submit" aria-label="Adicionar">
              <i class="bi bi-plus-lg"></i>
            </button>
          </div>
        </form>
        <div id="<%= "#{modal_id}Message" %>" class="ax-attribute-modal__message" hidden></div>
      </div>
      <div id="<%= "#{modal_id}List" %>" class="ax-attribute-modal__list">
      </div>
    </div>
  </div>
</div>
